.Photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 5vw;
}

.Photo_right {
  flex-direction: row-reverse;
}

.Photo_image {
  max-width: 55vw;
  max-height: 40vh;
}

.exif {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ccc;
  font-size: 1.65vw;
  font-weight: 200;
}

.exif_right {
  text-align: right;
}

@media (max-width: 600px) {
  .Photo {
    flex-direction: column;
    margin: 0;
  }
  .Photo_image {
    max-width: 100%;
  }
  .exif {
    margin: 5px 10px;
    font-size: 1.0rem;
  }
}