---
export const prerender = true

import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import { YusukeApp } from "../yusuke/client/YusukeApp"
import type { TimelineEntry } from "../../@types/About"

const careerCollectionEntries = await getCollection("career")
const careerEntries: TimelineEntry[] = careerCollectionEntries
  .sort((a, b) => b.data.date.localeCompare(a.data.date))
  .map((entry) => ({
    date: entry.data.date,
    endDate: entry.data.endDate,
    title: entry.data.title,
    image: entry.data.image,
    color: entry.data.color,
    detail: entry.body,
  }))

const valuesCollectionEntries = await getCollection("values")
const valuesContent = valuesCollectionEntries[0]?.body ?? ""
---

<BaseLayout
  title="Yusuke Kokubo | PHANTOM TYPE"
  description="Yusuke Kokubo - Software Engineer in Nagoya, Japan"
>
  <main id="main" class="max-w-3xl mx-auto">
    <div class="p-16">
      <p>
        <img
          src="/yusuke/jikokuten.png"
          alt="Yusuke Kokubo"
          class="w-12 h-12 border rounded"
        />
        I'm Yusuke Kokubo, a software engineer living in Nagoya, Japan🇯🇵.
      </p>
      <p>My Skills are Web Development and a bit of Web UI Design.</p>
      <p>Love cats 🐈 and photography 📷.</p>
    </div>

    <YusukeApp
      client:load
      defaultTab="career"
      careerEntries={careerEntries}
      valuesContent={valuesContent}
    />
  </main>
</BaseLayout>
