.Photo {
  display: flex;
  margin: 0 5vw;
  flex-direction: row;
}

.Photo_right {
  flex-direction: row-reverse;
}

.Photo_image {
  width: 55vw;
  height: auto;
  min-height: 300px;
  object-fit: fill;
}

.information {
  margin: 0 15px;
  color: #ccc;
  font-size: 1.60vw;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

.exif {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exif_right {
  text-align: right;
}

.datetime {
  margin-bottom: 5px;
  font-size: 1.85vw;
}

.social {
  margin: 10px 0;
}

.icon {
  margin: -3px 0;
}

.like {
  font-size: 25px;
}

@media (max-width: 600px) {
  .Photo {
    margin: 0;
    display: inline;
  }
  .Photo_image {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  .exif {
    margin: 5px 10px;
    font-size: 1.0rem;
    grid-row: 2;
  }
  .datetime {
    font-size: 1.2rem;
  }
}