.Photo {
  display: grid;
  /* flex-direction: row; */
  /* justify-content: stretch; */
  margin: 0 5vw;
  grid-template-columns: 1fr 1fr;
}

.Photo_right .Photo_image {
  /* flex-direction: row-reverse; */
  grid-column: 2;
}

.Photo_image {
  width: 55vw;
  height: auto;
  min-height: 300px;
  object-fit: fill;
}

.Photo_right .exif {
  grid-column: 1;
  grid-row: 1;
}

.exif {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ccc;
  font-size: 1.60vw;
  font-weight: 200;
}

.exif_right {
  text-align: right;
}

.datetime {
  margin-bottom: 5px;
  font-size: 1.85vw;
}

@media (max-width: 600px) {
  .Photo {
    flex-direction: column;
    margin: 0;
  }
  .Photo_image {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
  .exif {
    margin: 5px 10px;
    font-size: 1.0rem;
  }
}